@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

a:visited {
  color: #ee4540;
}

body {
  background-color: #121212;
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  opacity: 87%;
}
