---
---

@import "{{site.theme}}";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');

body{
    background: #444;
    font-family: Mon
}

header{
    background: #ccc;
}

#banner{
    display: none;
}